$color-primary: rgb(55, 76, 159);
$color-secondary: #edbeb7;

$color-gray: rgb(97, 97, 97);
$color-white: white;

$font-primary: 'Open Sans', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  font-size: 1.6rem;
  color: $color-gray;
  line-height: 1.6;
}