.btn {
  background-color: $color-white;
  padding: 1.6rem 4.8rem 1.4rem;
  font-family: $font-display;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;

  transition: all .3s;

  &--dark {
    background-color: $color-primary;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }

  &--outline-dark {
    border: 2px solid $color-primary;
    color: $color-primary;
    &:hover {
      border-color: $color-secondary;
      background-color: $color-secondary;
      color: $color-white;
    }
  }

  &--light {
    background-color: $color-white;
    color: $color-primary;
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
