@import "./reset";
@import "./base";
@import "./typography";
@import "./ui";

@import "./home/banner.scss";
@import "./home/artists.scss";
@import "./home/gallery.scss";
@import "./home/divider.scss";
@import "./home/events.scss";
@import "./home/footer.scss";
