.artists {
  grid-column: center-start / center-end;
  margin: 10rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;

  &__header {
    grid-column: 1 / -1;
  }

  @media screen and (max-width: $bp-large) {
    margin: 5rem 0;
  }
}

.artist {
  text-align: center;
  &__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    max-width: 30rem;
    height: 30rem;
    border-radius: 100%;
    margin-bottom: 3rem;
  }

  &__name {
    margin-bottom: 0.5rem;
  }

  &__btn {
    margin-top: 2rem;
  }
  
}
