.banner {
  background-color: $color-primary;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;

  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns:
    [full-start] 1fr [center-start] minmax(min-content, 1140px)
    [center-end] 1fr [full-end];

  &__logo {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    height: 5rem;
  }

  &__content {
    grid-column: center-start / center-end;
    grid-row: 2 /3;
    justify-content: center;
    text-align: center;
  }

  &__btn {
    align-self: flex-start;
    justify-self: center;
    margin-top: 5rem;
  }

  @media screen and (max-width: $bp-large) {
    padding: 2.5rem;
    &__title{
        margin-bottom: 3rem;
    }
  }
}
