.divider {
  grid-column: full-start / full-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 3 / 4;

  &--2{
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

