.events {
  grid-column: full-start / full-end;
  grid-row: 6 / 7;

  &__header {
    margin: 10rem auto 5rem;
  }

  @media screen and (max-width: $bp-large) {
    &__header {
      margin: 5rem auto 5rem;
    }
  }
}

.event {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));

  &:nth-child(odd) {
    direction: rtl;
    & > .event__content {
      align-items: flex-end;
      text-align: end;
    }
  }

  &__img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  &__content {
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: center;
  }

  @media screen and (max-width: $bp-large) {
    &__content {
      padding: 4rem;
    }
  }

  @media screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    &__img {
      height: 40vh;
    }

    &__content {
      padding: 3rem;
      text-align: justify;
    }
  }
}
