.gallery {
  grid-column: center-start / center-end;
  grid-row: 4 / 5;

  margin: 10rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;

  &__header {
    grid-column: 1 / -1;
  }

  &__image {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 35rem;
  }

  @media screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin: 5rem 0;
    &__image {
        height: 20rem;
    }
  }
}
