*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #616161;
  line-height: 1.6;
}

#wrapper {
  display: grid;
  grid-template-rows: 100vh min-content 10vw min-content 10vw repeat(2, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media screen and (max-width: 62.5em) {
  #wrapper {
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  }
}

.section__header {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  justify-self: center;
  letter-spacing: 0.72px;
  max-width: 70%;
}

.section__header h2 {
  margin-bottom: 1rem;
}

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  color: white;
  font-weight: 700;
}

.heading-1--big {
  font-size: 13.5rem;
  line-height: 13.5rem;
}

@media screen and (max-width: 62.5em) {
  .heading-1--big {
    font-size: 9.5rem;
    line-height: 9.5rem;
  }
}

@media screen and (max-width: 37.5em) {
  .heading-1--big {
    font-size: 8.5rem;
    line-height: 8.5rem;
  }
}

.heading-2 {
  font-size: 5.4rem;
  color: white;
  line-height: 5.4rem;
  font-weight: 600;
  letter-spacing: -1.62px;
}

.heading-2--light {
  color: white;
}

.heading-2--dark {
  color: #374c9f;
}

.heading-3 {
  font-size: 3rem;
  color: white;
  line-height: 3rem;
  font-weight: 600;
}

.heading-3--big {
  font-size: 4.6rem;
  line-height: 4.6rem;
}

.heading-3--light {
  color: white;
}

.heading-3--dark {
  color: #374c9f;
}

.heading-4 {
  font-size: 2.4rem;
  color: white;
  line-height: 2.4rem;
}

.heading-4--light {
  color: white;
}

.heading-4--dark {
  color: #374c9f;
}

.heading-5 {
  font-size: 1.9rem;
  color: white;
  line-height: 1.9rem;
}

.heading-5--light {
  color: #edbeb7;
}

.heading-5--dark {
  color: #374c9f;
}

.description {
  margin: 1.5rem 0 0;
}

.description--light {
  color: #edbeb7;
}

.description--dark {
  color: #374c9f;
}

.btn {
  background-color: white;
  padding: 1.6rem 4.8rem 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.btn--dark {
  background-color: #374c9f;
  color: white;
}

.btn--dark:hover {
  background-color: white;
  color: #374c9f;
}

.btn--outline-dark {
  border: 2px solid #374c9f;
  color: #374c9f;
}

.btn--outline-dark:hover {
  border-color: #edbeb7;
  background-color: #edbeb7;
  color: white;
}

.btn--light {
  background-color: white;
  color: #374c9f;
}

.btn--light:hover {
  background-color: #374c9f;
  color: white;
}

.banner {
  background-color: #374c9f;
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: [full-start] 1fr [center-start] minmax(min-content, 1140px) [center-end] 1fr [full-end];
}

.banner__logo {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  height: 5rem;
}

.banner__content {
  grid-column: center-start / center-end;
  grid-row: 2 /3;
  justify-content: center;
  text-align: center;
}

.banner__btn {
  align-self: flex-start;
  justify-self: center;
  margin-top: 5rem;
}

@media screen and (max-width: 62.5em) {
  .banner {
    padding: 2.5rem;
  }
  .banner__title {
    margin-bottom: 3rem;
  }
}

.artists {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}

.artists__header {
  grid-column: 1 / -1;
}

@media screen and (max-width: 62.5em) {
  .artists {
    margin: 5rem 0;
  }
}

.artist {
  text-align: center;
}

.artist__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 30rem;
  height: 30rem;
  border-radius: 100%;
  margin-bottom: 3rem;
}

.artist__name {
  margin-bottom: 0.5rem;
}

.artist__btn {
  margin-top: 2rem;
}

.gallery {
  grid-column: center-start / center-end;
  grid-row: 4 / 5;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

.gallery__header {
  grid-column: 1 / -1;
}

.gallery__image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 35rem;
}

@media screen and (max-width: 37.5em) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin: 5rem 0;
  }
  .gallery__image {
    height: 20rem;
  }
}

.divider {
  grid-column: full-start / full-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 3 / 4;
}

.divider--2 {
  grid-row: 5 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events {
  grid-column: full-start / full-end;
  grid-row: 6 / 7;
}

.events__header {
  margin: 10rem auto 5rem;
}

@media screen and (max-width: 62.5em) {
  .events__header {
    margin: 5rem auto 5rem;
  }
}

.event {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
}

.event:nth-child(odd) {
  direction: rtl;
}

.event:nth-child(odd) > .event__content {
  align-items: flex-end;
  text-align: end;
}

.event__img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.event__content {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  justify-content: center;
}

@media screen and (max-width: 62.5em) {
  .event__content {
    padding: 4rem;
  }
}

@media screen and (max-width: 37.5em) {
  .event {
    grid-template-columns: 1fr;
  }
  .event__img {
    height: 40vh;
  }
  .event__content {
    padding: 3rem;
    text-align: justify;
  }
}

.footer {
  background-color: #374c9f;
  padding: 5rem;
  grid-column: full-start / full-end;
  grid-row: -2 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
